project_name = "platform-lab"
environment  = "prod"
aws_region   = "eu-central-1"

vpc_cidr = "10.40.0.0/16"

kubernetes_version = "1.36"

cluster_endpoint_public_access = false

node_instance_types = ["t3.large"]
node_desired_size   = 3
node_min_size       = 3
node_max_size       = 8
